@model Eshoper_CD.Models.CartConfirmModel
<table class="table table-condensed total-result">
    <tr>
        <td>Cart Sub Total</td>
        <td>$@Model.totalProduct</td>
    </tr>
    <tr>
        <td>Exo Tax</td>
        <td>$@Model.ecoTax</td>
    </tr>
    <tr class="shipping-cost">
        <td>Shipping Cost</td>
        <td>$@Model.shippingCost</td>
    </tr>
    <tr>
        <td>Total</td>
        <td><span>$@Model.total</span></td>
    </tr>
</table>
