
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
    <head>
        <meta name="viewport"  content="width-device-width"/>
        <title>Index</title>
    </head>
    <body>
        <div>
            <p>trang admin</p>
        </div>
    </body>
</html>
