@model IEnumerable<Models.Framework.product>
@{
    ViewBag.Title = "Index";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Products</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="datatablesSimple">
                            <a href="/Admin/san-pham/them-san-pham">
                                <i style="display: inline-block;" class="now-ui-icons ui-1_simple-add"></i>
                                <p style="display: contents;">Add New Product</p>
                            </a>
                            <thead class=" text-primary">
                            <th style="padding: 12px 87px;">
                                Name
                            </th>
                            <th style="padding: 12px 119px;">
                                Price
                            </th>
                            <th style="padding: 12px 112px;">
                                Quantity
                            </th>
                            <th class="text-right" style="padding: 12px 122px;">
                                Image
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td style="padding: 12px 71px;">
                                            <a><p>@Html.ActionLink(i.name, "ProductDetail", "Products", new { id = i.id, }, new { @style = "color:black;" })</p></a>
                                        </td>
                                        <td style="padding: 12px 125px;">
                                            $@i.price
                                        </td>
                                        <td style="padding: 12px 127px;">
                                            @i.quantity
                                        </td>
                                        <td class="text-right" style="padding: 12px 89px;">
                                            <img style="width: 140px;" src="~/Assets/Client/images/products/@i.img" alt="" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>